<h3>MayaFPS 1.4 - Jan 8 2017</h3>
<ul>
	<li>Added support for Maya 2017</li>
	<li>Removed DRM</li>
	<li>Upgraded project files to Visual Studio 2015</li>
	<li>Updated code to use CSTB and performed general cleanups, removed demo-related code</li>
	<li>MayaFPS is now free for non-commercial use.</li>
</ul>

<h3>MayaFPS 1.3.0 - Aug 11th, 2014</h3>
<ul>
	<li>Various bug fixes from the previous beta version.</li>
	<li>Demo version limitations greatly reduced.</li>
	<li>Added menu options to enable/disable the MayaFPS plug-in and to show the settings window. Currently it is added to the "View" menu of the active viewport when the plug-in is loaded.</li>
	<li>Added option to the settings window to allow the user to disable the behavior of CAPSLOCK locking the movement to the horizontal plane.</li>
	<li>The plug-in will now (optionally) check for offers for the full version of MayaFPS (affects demo users), and news about new/related software from code-section.</li>
	<li>Changes to the plug-in licensing. Unfortunately, users will need to regenerate new license files (full version users only).</li>
</ul>

<h3>MayaFPS 1.2.9 (1.3.beta) - 22.7.2014</h3>
<blockquote>This is a beta version, so kindly backup your mll and license files before updating.<br />
The update will become available for the demo version users soon as 1.3.0
</blockquote>
<ul>
	 <li>Added Maya 2015 and Maya 2014SP2 versions.</li>
	 <li>Added support for camera navigation recording into animation curves.</li>
	 <li>Added the ability to change the keyboard controls through the settings window.</li>
	 <li>Changed the licensing server. Licensing MayaFPS is no longer dependent on Plimus. Unfortunately, users are now required to re-license their copies by running the license manager.</li>
	 <li>Change log moved to here instead of embedding changes into the update notification file. This allows linking to it and presenting changes in a readable form. The changes-overview box has been removed from the update dialog.</li>
	 <li>Similarly, the quick guide has been removed from the "Welcome" dialog. Instead the dialog has been reduced to a small list of buttons, one of which links to an online quick guide.</li>
	 <li>Removed the keyboard shortcuts used to increase and decrease mouse sensitivity and movement speed. These can be modified either using the mouse-wheel (movement speed), or (usually rarely) in the settings dialog.</li>
</ul>

<h3>Older Changes</h3>
<p>Older changes were being recorded into an XML file. <a href="http://code-section.com/mayafps/updates.xml">Here it is</a> for archive purposes.</p>