/*
Original design: Basic Businesscard (v1.2 - Sep 11, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/basic-businesscard/
*/

/* Main layout and header */
body {background:#eee url(img/bg.jpg) top center no-repeat; color:#555; font:83% Georgia,Times New Roman,serif; text-align:center; line-height:1.8em;}
#wrap {width:610px; margin:60px auto 40px auto; background:#fff url(img/PluginIcon.png) top left no-repeat; -moz-box-shadow: 3px 3px 15px #aaa; -webkit-box-shadow: 3px 3px 15px #aaa; box-shadow: 3px 3px 15px #aaa;}
#content {margin:0 20px 20px 190px; width:400px; text-align:left;}
#content h1, #content h2 {text-align:center;}
#triples {width:590px; margin:0 auto 40px auto; text-align:left;}
#triples h2 {font-size:1.4em; color:#666; margin:0 0 10px 0;}
#triples p {font-size:1em; color:#777; margin:0 0 10px 0;}
#footer {width:590px; color:#bbb; font-size:0.8em; margin:20px auto; text-align:center;}
#footer a {color:#bbb;}

h1 {font-size:3em; padding:25px 0 0 0; font-weight:400; text-shadow:2px 2px 4px #bbb;}
h2 {font-size:1.6em; margin:-15px 0 25px 0; font-weight:400; text-shadow:2px 2px 4px #bbb;}
h2.slogan {; color:#777; text-shadow:2px 2px 4px #ccc;}
a {color:#b75858; text-decoration:none;}
a:hover {color:#872828;}
p {padding:0 0 15px;}
img {max-width:560px;}
img.alignleft {display:inline; float:left; margin:5px 15px 5px 0;}
img.alignright {float:right; margin:5px 0 5px 15px;}
img.aligncenter {display:block; margin:10px auto;}
img.border {background:#f4f4f4; border:1px solid #ddd; padding:5px;}
dl {width:360px; margin:0 auto; font-size:1.4em;}
dt {float:left; clear:left; width:80px; text-align:right; color:#444; }
dd {margin:0 0 0 100px; padding:0 0 5px 0; text-align:left;}

.t1,.t2,.t3 {width:30%; margin:0 5% 0 0; float:left;}
.t3 {margin:0;}